@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 1.2; */
  color: #000000;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #f3f7f9;
  padding-bottom: 60px;
}

.header__top-wrapper {
  background-color: #293449;
}

.logo {
  box-shadow: 0 5px 0 #b52933;
  background-color: #ee3643;
  padding: 13px 56px 6px 55px;
}

a[href].logo:hover,
.logo:focus {
  box-shadow: 0 5px 0 #9a212a;
  background-color: #ca2c37;
}

a[href].logo:active {
  box-shadow: 0 5px 0 #8d1e26;
  background-color: #ba2732;
}

.search {
  position: relative;
}

.search__input {
  background-color: #293449;
  border: none;
  width: 270px;
  font-size: 17px;
  color: #ffffff;
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 48px;
  text-overflow: ellipsis;
  outline: none;
}

.search__button {
  width: 17px;
  min-height: 17px;
  background-color: #293449;
  border: none;
  position: absolute;
  top: 12px;
  left: 17px;
  cursor: pointer;
}

.search__button svg {
  position: absolute;
  top: 0;
  left: 0;
}

.search__button path {
  fill: rgba(255, 255, 255, 0.3);
}

.search__button:hover path {
  fill: rgba(255, 255, 255, 1);
}

.search__input::placeholder {
  color: #ffffff;
}

.search__input:hover {
  background-color: #212a3a;
}

.search__input:hover+.search__button {
  background-color: #212a3a;
}

.search__input:hover+.search__button path {
  fill: rgba(255, 255, 255, 1);
}

.search__input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search__input:focus+.search__button {
  background-color: #ffffff;
}

.search__input:focus+.search__button path {
  fill: #ee3643;
}

.search__input:focus::placeholder {
  color: #000000;
}

/* .search__input:focus:-ms-input-placeholder {
  background-color: #ffffff;
  color: #000000 !important;
}

.search__input::-ms-input-placeholder {
  background-color: #ffffff;
  color: #000000 !important;
} */

.bookmarks {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding-left: 44px;
  padding-right: 28px;
  padding-top: 11px;
  padding-bottom: 12px;
}

.bookmarks svg {
  width: 14px;
  min-height: 16px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 17px;
}

.bookmarks:hover,
.bookmarks:focus {
  background-color: #212a3a;
}

.bookmarks:hover svg,
.bookmarks:focus svg {
  opacity: 1;
}

.bookmarks:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.bookmarks:active svg {
  opacity: 0.5;
}

.basket {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding-top: 11px;
  padding-right: 31px;
  padding-bottom: 12px;
  padding-left: 49px;
}

.basket--active {
  padding-right: 26px;
  background-color: #ee3643;
}

.basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.basket svg {
  width: 15px;
  min-height: 15px;
  opacity: 0.3;
  position: absolute;
  top: 12px;
  left: 18px;
}

.basket:hover,
.basket:focus {
  background-color: #212a3a;
}

.basket:hover svg,
.basket:focus svg {
  opacity: 1;
}

.basket:active svg {
  opacity: 0.5;
}

.checkout {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  background-color: #63a63e;
  padding-top: 11px;
  padding-right: 21px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header__center {
  padding-top: 46px;
  padding-bottom: 40px;
}

.header__center .container {
  padding-left: 53px;
}

.info {
  color: #ee3643;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
  line-height: 23px;
  padding-top: 3px;
  margin: 0;
  max-width: 196px;
}

.header__address {
  margin-left: 71px;
  width: 270px;
}

.address__link {
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  border: 3px solid #ffffff;
  text-decoration: none;
  position: relative;
  padding: 10px 48px 8px 71px;
  display: flex;
  margin-bottom: 8px;
}

.address__link svg {
  width: 19px;
  min-height: 19px;
  position: absolute;
  top: 10px;
  left: 12px;
}

.address__text {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-kerning: none;
  margin: 0;
  padding-left: 10px;
}

.login {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 69px;
}

.login__in {
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  padding: 10px 26px 11px 47px;
  position: relative;
  display: flex;
  width: 121px;
  margin-right: 10px;
}

.login__in svg {
  width: 20px;
  min-height: 17px;
  position: absolute;
  top: 14px;
  left: 15px;
}

.login__in:hover {
  color: #ee3643;
}

.login__in:hover path {
  fill: #32425c;
}

.login__in:active {
  color: rgba(0, 0, 0, 0.3);
}

.login .login__in:active path {
  fill: #c5c5c5;
}

.login__registration {
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  padding: 10px 24px 11px 24px;
  position: relative;
  display: flex;
  width: 150px;
}

.login__registration:hover {
  color: #ee3643;
}

.login__registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.account__top {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  padding: 12px 9px 12px 46px;
  margin-bottom: 6px;
  margin-left: 51px;
}

.account__bottom {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 68px;
}

.account__bottom .account__link {
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.account__bottom .account--orders {
  padding-right: 32px;
  position: relative;
}

.account__bottom .account--orders::before {
  content: "";
  width: 4px;
  min-height: 5px;
  background-color: #32425c;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 13px;
}

.account__top .account--name {
  padding-right: 37px;
}

.account__top {
  position: relative;
}

.account__top .account--name svg {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  min-height: 18px;
  position: absolute;
  top: 13px;
  left: 13px;
}

.account__top .account__logout {
  padding-top: 2px;
}

.account__top .account__link {
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;
}

.account:hover .account__link {
  color: #000000;
}

.login__in:hover path {
  fill: #32425c;
}

.account__bottom .account__link--orders:hover,
.account__bottom .account__link--profile:hover {
  color: #ee3643;
}

.account__bottom .account__link--orders:active,
.account__bottom .account__link--profile:active {
  color: #c5c5c5;
}

.account--name:hover .account__link path {
  fill: #32425c;
}

.account--name:active .account__link path {
  fill: #c5c5c5;
}

.account--name:active .account__link {
  color: #c5c5c5;
}

.account__logout:hover .account__link path {
  fill: #32425c;
}

.account__logout:active .account__link path {
  fill: #c5c5c5;
}

.menu {
  width: 100%;
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 23px;
}

.menu__link {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  line-height: 17px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 30px;
  padding-right: 30px;
  font-kerning: none;
}

.menu__link:hover,
.menu__link:focus {
  background-color: #293449;
}

.menu__link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.products {
  padding-top: 60px;
  padding-bottom: 32px;
}

.products-wrapper-top {
  flex-wrap: wrap;
}

.products-wrapper-bottom {
  justify-content: space-between;
  flex-direction: row-reverse;
}

.product {
  width: 300px;
  background-color: #ffbf47;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px 43px 23px 23px;
}

.product:nth-child(3n) {
  margin-right: 0;
}

.products-items .product {
  margin-right: 0;
}

.product__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 12px;
  max-width: 135px;
}

.product__link {
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}

.product__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.product__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.product--materials svg {
  width: 44px;
  min-height: 65px;
  display: block;
  position: absolute;
  top: 31px;
  right: 43px;
}

.product--new {
  background-image: url("../img/new-sticker.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.product--instruments {
  background-color: #3bbce3;
}

.product--instruments svg {
  width: 75px;
  min-height: 61px;
  position: absolute;
  top: 33px;
  right: 28px;
}

.product--technics {
  background-color: #dc91d8;
}

.product--technics svg {
  width: 78px;
  min-height: 62px;
  position: absolute;
  top: 31px;
  right: 31px;
}

.product--discounts {
  background-color: #8ed78f;
}

.product--discounts svg {
  width: 59px;
  min-height: 72px;
  position: absolute;
  top: 26px;
  right: 45px;
}

.product--delivery {
  background-color: #ffc047;
}

.product--delivery svg {
  width: 78px;
  min-height: 63px;
  position: absolute;
  top: 32px;
  right: 31px;
}

.slider {
  position: relative;
}

.slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 620px;
  min-height: 266px;
  display: flex;
  overflow: hidden;
}

.slider__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.slider__item {
  position: relative;
  width: 100%;
  background-color: #4c4c4c;
}

.slider__item .slider__title {
  position: absolute;
  top: 23px;
  left: 24px;
}

.slider__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.slider__item .slider__text {
  position: absolute;
  top: 61px;
  left: 25px;
}

.slider__link {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  padding: 12px 45px 10px 49px;
  font-kerning: none;
  z-index: 1;
  border-radius: 4px;
}

.slider__link:hover {
  background-color: #ca2c37;
}

.slider__link:active {
  background-color: #ba2732;
}

.slider__item .slider__link {
  position: absolute;
  bottom: 22px;
  left: 25px;
}

.slider__one {
  background-image: url("../img/slider-one.jpg");
  min-height: 266px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slider__two {
  background-image: url("../img/slider-two.jpg");
  min-height: 266px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s ease-in;
  opacity: 0;
}

.slider-next {
  transition: 0.5s ease-in;
  opacity: 1;
}

.slider__prev {
  position: absolute;
  top: 114px;
  left: 25px;
  cursor: pointer;
}

.slider__next {
  position: absolute;
  top: 114px;
  right: 20px;
  cursor: pointer;
}

.slider__last {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.slider__dots {
  position: absolute;
  bottom: 56px;
  left: 295px;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1;
  display: flex;
}

.slider__dots li {
  margin-right: 10px;
}

.slider__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  display: block;
}

.slider__dot--active::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
}

.popular-goods__title {
  background-color: #f9f5f0;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 24px;
  margin-bottom: 20px;
}

.popular-manufacturers__title {
  background-color: #f9f5f0;
  align-items: center;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 24px;
  margin-bottom: 20px;
}

.popular-goods__header {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 27px;
}

.popular-manufacturers__header {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 28px;
}

.popular-goods__link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ee3643;
  text-decoration: none;
  padding: 12px 55px 11px 55px;
  border-radius: 4px;
}

.popular-goods__link:hover {
  background-color: #ca2c37;
}

.popular-goods__link:active {
  background-color: #ba2732;
}

.popular-manufacturers__link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  text-decoration: none;
  padding: 9px 69px 11px 69px;
  border-radius: 4px;
}

.popular-manufacturers__link:hover {
  background-color: #ca2c37;
}

.popular-manufacturers__link:active {
  background-color: #ba2732;
}

.popular-goods__items {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.item {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 220px;
  min-height: 318px;
  margin-bottom: 21px;
  margin-right: 20px;
  position: relative;
}

.popular-goods__items .item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.item-wrapper:nth-child(4n) .item {
  margin-right: 0;
}

.item__image-link {
  width: 218px;
  min-height: 170px;
}

.item__title-link {
  text-decoration: none;
}

.item__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  width: 157px;
  text-align: center;
  margin: 0;
  padding-bottom: 11px;
}

.item__old-price {
  color: #a9a9a9;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  padding-bottom: 10px;
  min-height: 28px;
}

.item__price {
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  width: 122px;
  margin-left: -11px;
  background-color: #ee3643;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px 0 0 4px;
}

.item__price::before {
  content: "";
  width: 0;
  min-height: 0;
  border-style: solid;
  border-width: 19px 0 19px 20px;
  border-color: transparent transparent transparent #ee3643;
  position: absolute;
  top: 0;
  right: -20px;
}

.item__text-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 32px 20px 31px;
  min-height: 142px;
  justify-content: space-between;
}

.item__order-buttons {
  display: flex;
  flex-direction: column;
  width: 218px;
  align-items: center;
  padding: 42px 0 45px 0;
  opacity: 0;
  transition: 0.15s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.item:hover>.item__order-buttons {
  opacity: 1;
  transition: 0.15s ease-in;
  z-index: 1;
}

.item:hover>.item__image-link {
  opacity: 0;
  transition: 0.15s ease-in;
}

.item__buy {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  width: 135px;
  margin-bottom: 8px;
  position: relative;
  text-align: center;
  padding: 11px 0 9px 0;
  border-radius: 4px;
}

.item__buy svg {
  content: "";
  width: 15px;
  min-height: 15px;
  opacity: 0.3;
  position: absolute;
  top: 11px;
  left: 12px;
}

.item__buy:hover {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
}

.item__buy:hover svg {
  opacity: 1;
}

.item__buy:active {
  background-color: #518534;
}

.item__buy:active svg {
  opacity: 1;
}

.item--new {
  position: relative;
}

.item--new::before {
  content: "";
  background-image: url("../img/new-sticker.png");
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  min-height: 59px;
  z-index: 1;
}

.item__bookmarks {
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  border: 3px solid #63a63e;
  text-decoration: none;
  padding: 7px 0px 7px 0;
  text-align: center;
  border-radius: 4px;
}

.item__bookmarks:hover {
  border: 3px solid #32425c;
}

.item__bookmarks:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}

.manufacturers {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 65px;
  justify-content: space-between;
}

.manufacturer {
  width: 220px;
  min-height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.manufacturer:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturer:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.manufacturer:nth-of-type(4) .popular-manufacturers__link {
  padding-bottom: 11px;
}

.services-wrapper {
  width: 940px;
  margin: 0 auto;
}

.services {
  background-color: #f4f8f9;
  padding-top: 65px;
  padding-bottom: 99px;
}

.services__title {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 26px;
}

.services__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  font-kerning: none;
  font-size: 13px;
}

.features-wrapper {
  display: flex;
  position: relative;
  margin-top: 67px;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  position: relative;
  background-color: #32425c;
}

.features::before {
  content: "";
  background-image: url("../img/features-shadow.png");
  background-position: 100% 0;
  display: flex;
  width: 10px;
  min-height: 279px;
  position: absolute;
  top: -47px;
  right: 0;
}

.features__link {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  min-width: 240px;
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
  text-decoration: none;
  padding: 13px 22px 18px 22px;
  display: block;
}

.features__link:hover {
  background-color: #293449;
}

.features__item:nth-of-type(2) .features__link {
  padding: 14px 22px 17px 22px;
}

.features__item:nth-of-type(3) .features__link {
  padding: 15px 22px 16px 22px;
}

.features__link--active {
  color: #32425c;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
}

.features__link--active:hover {
  background-color: #ffffff;
}

.features__description {
  padding-left: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-kerning: none;
  position: relative;
}

.features__description::before {
  content: "";
  background-image: url("../img/delivery-image.png");
  width: 468px;
  min-height: 261px;
  position: absolute;
  top: 24px;
  right: 1px;
}

.features__title {
  color: #32425c;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.features__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-top: 25px;
  font-size: 13px;
  width: 275px;
}

.features__link-order {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 195px;
  min-height: 38px;
  background-color: #ff5357;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.features__guarantee::before {
  content: "";
  background-image: url("../img/warranty-image.png");
  width: 389px;
  min-height: 283px;
  position: absolute;
  top: 3px;
  right: -8px;
}

.features__guarantee .features__title {
  /* font-family: "Gill Sans", "Arial", sans-serif; */
  /* font-style: italic; */
  /* font-size: 13px; */
  color: #32425c;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.features__guarantee .features__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  width: 379px;
}

.features__credit::before {
  content: "";
  background-image: url("../img/credit-image.png");
  width: 465px;
  min-height: 285px;
  position: absolute;
  right: -10px;
  background-position: 100% 0;
  background-repeat: no-repeat;
  top: 1px;
}

.features__credit .features__title {
  color: #32425c;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.features__credit .features__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  width: 280px;
  margin-bottom: 26px;
}

.features__credit .features__link-order {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 195px;
  background-color: #ff5357;
  padding: 10px;
  text-align: center;
}

.features__credit .features__link-order:hover {
  background-color: #ca2c37;
}

.features__credit .features__link-order:active {
  background-color: #ba2732;
}

.about-wrapper {
  margin-top: 79px;
  margin-bottom: 86px;
  display: flex;
  justify-content: space-between;
}

.about-company {
  width: 519px;
}

.about-company__title {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
  word-spacing: -3px;
}

.about-company__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  margin: 0;
  font-kerning: none;
  margin-bottom: 26px;
  word-spacing: 1px;
}

.about-company__text:nth-of-type(2) {
  margin-bottom: 0;
  font-kerning: none;
  word-spacing: 0px;
  padding-right: 110px;
  margin-bottom: 23px;
}

.delivery {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 36px;
  margin-bottom: 47px;
}

.delivery__item {
  margin-bottom: 20px;
  position: relative;
}

.delivery__item::before {
  content: "";
  position: absolute;
  width: 25px;
  min-height: 2px;
  background-color: #ee3643;
  top: 10px;
  left: -36px;
}

.delivery__text {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.about-company__link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  text-decoration: none;
  padding: 12px 39px 10px 41px;
  border-radius: 4px;
}

.about-company__link:hover {
  background-color: #ca2c37;
}

.about-company__link:active {
  background-color: #ba2732;
}

.contacts {
  width: 301px;
}

.contacts__title {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.contacts__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  width: 200px;
  margin-bottom: 32px;
  word-spacing: -3px;
}

.contacts__link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  display: flex;
  padding: 10px 58px 10px 65px;
  margin-top: 36px;
  text-decoration: none;
  border-radius: 4px;
}

.contacts__link:hover {
  background-color: #ca2c37;
}

.contacts__link:active {
  background-color: #ba2732;
}

.main--catalog .container {
  flex-direction: column;
  margin-bottom: 60px;
}

.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 21px 0 0 0;
  margin-bottom: 21px;
}

.breadcrumbs__item {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs__item .breadcrumbs__link {
  padding: 0 20px;
  position: relative;
}

.breadcrumbs__item:first-child .breadcrumbs__link {
  padding-left: 0;
}

.breadcrumbs__item .breadcrumbs__link::after {
  content: "";
  background-image: url("../img/breadcrumbs-arrow-icon.svg");
  width: 8px;
  min-height: 12px;
  position: absolute;
  top: 2px;
  right: -4px;
}

.breadcrumbs__link {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs__item:last-child .breadcrumbs__link {
  font-kerning: none;
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.main__title {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #f2f6f8;
  margin: 0;
  padding: 30px 28px;
  margin-bottom: 19px;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter {
  max-width: 220px;
}

.filter__title {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f7f3ec;
  padding: 10px 19px;
  text-transform: uppercase;
  border-radius: 4px;
}

.filter-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter__heading {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 11px;
  margin-bottom: 14px;
}

.filter__cost {
  width: 220px;
  background-color: #f7f3ec;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 39px 0;
  border-radius: 4px;
}

.filter__cost-button--one {
  position: absolute;
  top: 30px;
  left: 20px;
  padding: 0;
  margin: 0;
  border: none;
  width: 20px;
  min-height: 23px;
  background-color: #f7f3ec;
  z-index: 1;
  cursor: pointer;
}

.filter__cost-button-two {
  position: absolute;
  top: 30px;
  right: 40px;
  padding: 0;
  margin: 0;
  border: none;
  width: 20px;
  min-height: 23px;
  background-color: #f7f3ec;
  z-index: 1;
  cursor: pointer;
}

.filter__cost-line {
  width: 180px;
  min-height: 2px;
  background-color: #d7dcde;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.filter__cost-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00ca74;
  width: 152px;
  min-height: 2px;
}

.filter__cost-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter__cost-label input {
  width: 95px;
  min-height: 38px;
  background-color: #f7f3ec;
  border: none;
  text-align: center;
  padding: 0 10px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 4px;
}

.filter__cost-label input::-webkit-outer-spin-button,
.filter__cost-label input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter__cost-label input {
  -moz-appearance: textfield;
}

.filter__cost-label input::placeholder {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.fieldset-manufacturer {
  margin-top: 25px;
}

.fieldset-manufacturer .filter__heading {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  padding-top: 15px;
}

.fieldset-manufacturer {
  display: flex;
  flex-direction: column;
}

.filter__item {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-kerning: none;
  position: relative;
  cursor: pointer;
}

.filter__item-checkbox {
  display: none;
}

.filter__item-title {
  position: absolute;
  margin-left: 11px;
}

.filter-icon-checked {
  display: none;
}

.filter__item-checkbox:checked~.filter-icon-checked {
  display: inline-block;
  width: 27px;
  min-height: 23px;
  position: absolute;
  top: 0;
  left: 0;
}

.filter__item-checkbox:checked~.filter-icon {
  opacity: 0;
}

.fieldset-suply {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  margin-top: 5px;
}

.fieldset-suply .filter__heading {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-kerning: none;
  margin-bottom: 10px;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  padding-top: 17px;
}

.filter__item-radio {
  display: none;
}

.filter-icon-checked {
  display: none;
}

.filter__item-radio:checked~.filter-icon-checked {
  display: inline-block;
}

.filter__item-radio:checked~.filter-icon {
  display: none;
}

.filter-icon:hover path {
  fill: #b5b5b5;
}

.filter__item-checkbox:disabled~.filter-icon-checked {
  fill: #c5c5c5;
  opacity: 0.3;
  cursor: default;
}

.filter__item-checkbox:disabled~.filter-icon {
  fill: #c5c5c5;
  opacity: 0.3;
  cursor: default;
}

.filter__item-checkbox:disabled~span {
  fill: #c5c5c5;
  opacity: 0.3;
  cursor: default;
}

.filter-icon-checked:hover path {
  fill: #b5b5b5;
}

.filter__item-radio:disabled~.filter-icon-checked {
  fill: #c5c5c5;
  opacity: 0.3;
  cursor: default;
}

.filter__item-radio:disabled~.filter-icon {
  fill: #c5c5c5;
  opacity: 0.3;
  cursor: default;
}

.filter__item-radio:disabled~span {
  fill: #c5c5c5;
  opacity: 0.3;
  cursor: default;
}

.filter-icon-checked:hover circle {
  fill: #b5b5b5;
}

.fieldset-suply .filter__item-title {
  margin-left: 9px;
  padding-top: 2px;
}

.filter__button {
  font-family: "PT Sans", "Arial", sans-serif;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  padding: 10px 41px 10px 38px;
  text-transform: uppercase;
  font-kerning: none;
  margin: 0;
  letter-spacing: -1px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}

.filter__button:hover,
.filter__button:focus {
  border: 1px solid #bdc6ca;
}

.filter__button:active {
  border: 1px solid #ee3643;
  color: #000000;
}

.goods {
  width: 700px;
}

.goods-sort {
  display: flex;
  align-items: center;
  background-color: #f7f3ec;
  padding-left: 19px;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-bottom: 11px;
  border-radius: 4px;
}

.sort {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 140px;
}

.sort__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.sort__link {
  opacity: 0.3;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
}

.sort__link:hover,
.sort__link:focus {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}

.sort__link--active {
  border: none;
  color: #ee3643;
  opacity: 1;
}

.sort__item:nth-of-type(1) {
  margin-right: 70px;
}

.sort__item:nth-of-type(2) {
  margin-right: 66px;
}

.sort__item:nth-of-type(3) {
  margin-right: 46px;
}

.sort__item:nth-of-type(4) {
  margin-right: 21px;
}

.sort__item:nth-of-type(4) .sort__link {
  width: 0;
  min-height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
  display: flex;
}

.sort__item:nth-of-type(4) .sort__link:hover,
.sort__item:nth-of-type(4) .sort__link:focus {
  border-color: transparent transparent rgba(0, 0, 0, 1) transparent;
}

.sort__item:nth-of-type(5) .sort__link {
  width: 0;
  min-height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
  display: flex;
}

.sort__item:nth-of-type(5) .sort__link:hover,
.sort__item:nth-of-type(5) .sort__link:focus {
  border-color: rgba(0, 0, 0, 1) transparent transparent transparent;
}

.sort__item:nth-of-type(4) .sort__link--active {
  width: 0;
  min-height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #ee3643 transparent;
  display: flex;
}

.sort__item:nth-of-type(4) .sort__link--active:hover,
.sort__item:nth-of-type(4) .sort__link--active:focus {
  border-color: transparent transparent #ee3643 transparent;
}

.sort__item:nth-of-type(5) .sort__link--active {
  width: 0;
  min-height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: #ee3643 transparent transparent transparent;
  display: flex;
}

.goods__items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 31px;
}

.goods__items .item {
  margin-bottom: 20px;
}

.goods__items .item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.item-goods-wrapper:nth-child(3n) .item {
  margin-right: 0;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.pagination__link {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 9px 0;
  border-radius: 4px;
}

.pagination__link:hover,
.pagination__link:focus {
  border: 1px solid #bdc6ca;
}

.pagination__link:active {
  border: 1px solid #ee3643;
}

.pagination__link--next {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  padding: 9px 10px;
  margin: 0;
  width: 140px;
}

.pagination__link--active {
  background-color: #ee3643;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-color: #ee3643;
}

.pagination__link--active:hover,
.pagination__link--active:focus {
  border-color: #ee3643;
}

.about-goods {
  background-color: #f2f6f8;
  padding-top: 65px;
  padding-bottom: 8px;
}

.about-goods__title {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  font-kerning: none;
  margin-bottom: 26px;
}

.about-goods__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.about-goods__text:first-child {
  margin-left: -1px;
}

.about-goods__text:last-child {
  margin-left: 1px;
  word-spacing: 1px;
}

.footer__top {
  background-color: #32425c;
  padding-bottom: 28px;
}

.footer__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 172px;
  padding-top: 31px;
}

.footer__menu-link {
  color: #f1f5f7;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  margin-right: 59px;
  font-kerning: none;
}

.footer__menu-link:hover {
  text-decoration: underline;
}

.footer__menu-link:active {
  opacity: 0.5;
}

.footer__logo {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  padding: 20px 41px 21px 41px;
}

.footer__logo[href]:hover {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ca2c37;
}

.footer__logo[href]:active {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

.footer__address {
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 4px;
  display: flex;
  flex-direction: column;
}

.footer__address-text {
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  margin: 0;
}

.footer__address-link {
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  text-decoration: none;
}

.footer__bottom {
  background-color: #32425c;
  display: flex;
  padding-bottom: 49px;
}

.footer__products {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 90px;
}

.footer__products-link {
  color: #ffd180;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  margin-right: 59px;
  font-kerning: none;
}

.footer__products-link:hover {
  text-decoration: underline;
}

.footer__products-link:active {
  opacity: 0.5;
}

.footer__products-item:last-of-type .footer__products-link {
  margin: 0;
}

.copyright {
  background-color: #293449;
  padding: 37px 0 28px 0;
}

.copyright__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  padding-left: 1px;
  margin-right: 158px;
}

.copyright__socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 132px;
}

.copyright__socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  min-height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.copyright__socials-item:hover {
  background-color: #ee3643;
}

.copyright__feedback {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 135px;
  margin: 0;
  font-style: normal;
}

.copyright__designed-by {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  font-style: normal;
}

.copyright__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffd180;
  text-decoration: none;
  font-style: normal;
}

.copyright__link:hover {
  text-decoration: underline;
}

.copyright__link:active {
  color: #ee3643;
}

.footer-address {
  margin: 0;
}

.footer-address__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.footer-address__item {
  margin-left: 119px;
}

.footer-address__item:nth-of-type(2) {
  margin-left: 52px;
}

.cart-popup {
  width: 620px;
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal__close {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 16px;
  right: 9px;
  width: 21px;
  padding: 0;
  cursor: pointer;
}

.modal__close:hover path {
  fill: #ca2c37;
}

.modal__close:active path {
  fill: #ba2732;
}

.cart-popup header {
  display: flex;
  align-items: center;
  padding-left: 81px;
  padding-top: 54px;
  padding-bottom: 50px;
  padding-right: 81px;
  box-shadow: inset 0 6px 0 0 #ee3643;
}

.cart-popup__header svg {
  margin-right: 32px;
}

.cart-popup p {
  margin: 0;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  font-kerning: none;
}

.cart-popup footer {
  background-color: #f1f1f1;
  padding: 37px 80px;
  display: flex;
  align-items: center;
}

.cart-popup .checkout-link {
  width: 220px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 9px 10px 6px;
  text-decoration: none;
  margin-right: 20px;
}

.cart-popup .checkout-link:hover {
  background-color: #ca2c37;
}

.cart-popup .checkout-link:active {
  background-color: #ba2732;
}

.cart-popup .shoping-link {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 220px;
  background-color: #ffffff;
  padding: 10px 44px 10px 44px;
  text-decoration: none;
}

.write-us {
  width: 620px;
  min-height: 430px;
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  z-index: 1;
  box-shadow: inset 0 6px 0 0 #ee3643;
}

.write-us form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.write-us__wrapper {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
}

.write-us .write-us__top {
  padding: 54px 80px 0 80px;
}

.write-us__name {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.write-us__name span {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 8px;
}

.write-us input {
  width: 220px;
  border: 2px solid #d7dcde;
  background-color: #ffffff;
  padding: 9px 14px;
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  border-radius: 4px;
  outline: none;
}

.write-us input:hover {
  border: 2px solid #b5b5b5;
}

.write-us input:focus {
  border: 2px solid #ee3643;
}

.write-us__email {
  display: flex;
  flex-direction: column;
}

.write-us__email span {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 8px;
}

.write-us__email input {
  width: 220px;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
  padding: 9px 14px;
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.write-us__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}

.write-us__text span {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 10px;
}

.write-us__text textarea {
  width: 460px;
  border: 2px solid #d7dcde;
  background-color: #ffffff;
  padding: 7px 14px 67px;
  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 4px;
  outline: none;
}

.write-us__text textarea:hover {
  border: 2px solid #b5b5b5;
}

.write-us__text textarea:hover {
  border: 2px solid #ee3643;
}

.write-us__send {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  text-align: center;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.write-us .write-us__bottom {
  width: 620px;
  background-color: #f4f4f4;
  padding: 37px 80px;
}

.map-popup {
  width: 940px;
  min-height: 447px;
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}

.map-popup .modal__close {
  top: 9px;
}

.map-wrapper {
  position: relative;
  width: 100%;
  min-height: 447px;
}

.map-popup__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}
